[Unit]
Description=Keeps a tunnel open
After=network-online.target ssh.service
#Environment=AUTOSSH_GATETIME=0

[Service]
ExecStart=/usr/lib/autossh/autossh -M 0 -N -o "ServerAliveInterval 30" -o "ServerAliveCountMax 30" -R 2222:localhost:22 ncc@bastion
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
